body{
    background-color:yellow;
    color:green;
    font-weight:bold;
    font-style:italic;
    position: relative;
    text-align: justify;
}
.h1{
    color:red;
    font-family:"dearJoe 5 Casual Pro",cursive;
    font-weight:bold;
    position: center fixed;
    height: 50px;
    text-align: center;
    background-color: aqua;
    height: 125px;
}
h2{
    font-family:"dearJoe 5 Casual Pro",cursive;
    color:green;
}
h3{
        font:bold 25px "dearJoe 5 Casual Pro";
    }
h6{
    font-weight:bold;
    font-size:15px;
    font:bold 15px "century gothic";
}
p{
    font:bold 15px "Century Gothic";
    text-align:justify;
}
em{
    font-family:"dearJoe 5 Casual Pro";
}
ol{
    font-family:"dearJoe 5 Casual Pro";
}
.p2{
    color:green;
    font-family:"dearJoe 5 Casual Pro";
}
.list1{
    width: 85%;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x: hidden;
    height: 600px;
    background-color:rgb(255,255, 255);
    border: 5px solid black;
    scrollbar-3dlight-color: silver;
}
a{
    border: 3px solid black;
    text-align: center;
}
@keyframes Jai{
    0%{
        color: red;
        font-family: "dearJoe 5 Casual Pro", cursive;
        font-size: 11px;
    }
    25%{
        color: red;
        font-family: "dearJoe 5 Casual Pro", cursive;
        font-size: 21px;
    }
    50%{
        color: red;
        font-family: "dearJoe 5 Casual Pro",cursive;
        font-size: 31px;
    }
    75%{
        color: red;
        font-family: "dearJoe 5 Casual Pro",cursive;
        font-size: 41px;
    }
    100%{
        color: red;
        font-family: "dearJoe 5 Casual Pro", cursive;
        font-size: 41px;
    }
}
